# OS junk
.DS_Store
Thumbs.db
*.swp

# Environment
.env
.venv
env/
venv/
__pycache__/

# IDE
.vscode/
.idea/
*.ipynb_checkpoints/

# Python Build
*.egg-info/
dist/
build/

# Models
*.pt
*.safetensors
model/
weights/

